<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="/">La BD de ma vie en Islande</a></h1>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/bd">Toutes les BD</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.facebook.com/pages/category/Personal-Blog/La-BD-de-ma-vie-en-Islande-399987430764696/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            </ul>
        </footer>
    </section>

